.buttons-lists_asg {
  background: #bcb5b5;
  border: 2px solid #060606;
  font-weight: 800;
}

.button-active-b {
  background: #1975cb;
}

.button-active-r {
  background: #1975cb;
}

.div-array {
  width: 100%;
  /*margin: 0 auto;*/
  padding: 20px 76px;
}

.buttons-lists {
  background: #bcb5b5;
  border: 2px solid #060606;
  font-weight: 800;
}

.btn-onfucus {
  background: #1975cb;
}

.btn-red {
  background: red;
}

.btn-white {
  background: #ffffff;
}

.box-lists {
  display: inline-block;
  background: transparent;
  border: 2px solid #1ceee5;
}

.point-red {
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.point-white {
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.titleIntructions {
  /*font-size: ;*/
}

.textIntructions {
  font-size: 18px;
}

.responsiveDivAssingment {
  transform: scale(.85);
  position: relative;
  top: -15px;
}

.boatsSelection{
  padding-top: 30px;
}

.titleIntructionsAssigment{
  font-size: 18px;
  color: #fff;
  display: block;
}

@media (max-width: 1135px) {
  .textIntructions {
    font-size: 16px;
  }
  .responsiveDivAssingment{
    transform: scale(.80);
    top: -20px;
  }
}