.div-array{
  width: 100%;
  /*margin: 0 auto;*/
  padding: 70px;
}
.buttons-lists {
  background: #bcb5b5;
  border: 2px solid #060606;
  font-weight: 800;
}

.button-active-b {
  background: #1975cb;
}

.button-active-r {
  background: #ff0000;
}
