@font-face {
  font-family: 'SF Fedora V1';
  src: 
    /* chrome、firefox */ url('SFFedoraTitles.woff')
      format('woff'),
    /* chrome、firefox */ url('SFFedoraTitles.ttf')
      format('truetype');
}

.fedoraFont {
  font-family: 'SF Fedora V1' !important;
  font-style: normal;
}
